<!--Este hbs vendría siendo el body del layout.hbs-->
<div class = "container">
  <div class="card">
    <div class="card-image">
      <img src = {{img}} alt = "">
    </div>

    <div class="card-content">
      <span class="Contenido">
        <FONT SIZE=4 COLOR=blue>
          <p>
            Campeon: <i>{{nombre}}</i>
            <i class="material-icons right">{{clase}}</i><br>
            Pasiva: <i>{{pasiva}}</i><br>
            <i>{{frase}}</i><br><br>
          </p>
          <p align = "center">
            <a href="https://signup.lan.leagueoflegends.com/es/signup/redownload">Download Now</a>
          </p>
        </FRONT>
      </span>
    </div>
  </div>
</div>
